*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	background-color:#FAFAFA;
	height: 100%;
	line-height: 1;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	color: #252b42; 
	
}
/* ---------------------------------------------------------------------------- */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	
}
/*-----------------------------------------------------------------------------------------------------------------------*/


._container{
    max-width: 1046px;
    margin:0 auto;
	padding:0 15px;
	box-sizing: content-box;
	
   
}


._ibg{
	position: relative;

	}


._ibg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	object-fit: cover;
	
	}
/*-----Header------------------------------------------------------------------------------------------------------------------*/

.header {
	position:absolute;
	width: 100%;
	top:0;
	left:0;
	z-index: 50;

}
.header__container {
	display:flex;
	align-items:center;
	min-height: 104px;
}

@media (max-width: 479px){

	.header__container{
		min-height: 70px;
	}

}


.header__logo {
	font-weight: 700;
	font-size:24px;
	text-decoration: none;
	color:inherit;
}
.header__menu {

	margin:0px 0px 0px 133px;

}

@media (max-width: 992px){
	.header__menu{

		margin:0px 0px 0px 80px;
	}

}

@media (max-width: 767px){
	.header__menu{

		margin:0px 0px 0px 50px;
	}

}

@media (max-width: 479px){
	.header__menu{

		margin:0px 0px 0px 20px;
	}

}

/* отступ безопасности */
.menu {
	padding:5px 0;
	
}
.menu__list {
	display: flex;
	flex-wrap:wrap;
}



.menu__item:not(:last-child) {
	margin: 0px 21px 0px 0px;
}
.menu__link {
	color:#737373;
	line-height:calc(24/14*100%);
	font-weight: 600;
}

.menu__link:hover{
	text-decoration: underline;
}


@media (max-width: 479px){
	.menu__link{

		font-size:18px;
	}

}




/*-----Page------------------------------------------------------------------------------------------------------------------*/

.page{

	flex:1 1 auto;
}

.page__main-block {
}

.page__whoweare {
}

.page__practice{

}

.page__services {
	position: relative;
	z-index: 2;
	margin:-111px 0px 0px 0px;

}
.page__clients:not(:last-child) {
	margin-bottom: 10px;
}

.page__subscribe{

}
.page__getintouch{



}

.page__contact-us {
}


.page__contact {
}

/*-----HEADER-BLOCK--------------*/

.header-block {
	text-align: center;
}
.header-block__title {
	font-size: 40px;
	line-height: 142%;
	font-weight: 700;
}
.header-block__title:not(:last-child){
	margin-bottom: 10px;

}
@media (max-width:992px){
	.header-block__title{
	font-size: 35px;	
	}
	
}

@media (max-width:767px){
	.header-block__title{
	font-size: 30px;	
	}
	
}

.header-block__sub-title {

	font-weight: 700;
	line-height: 1.5;
	color: #737373;
	letter-spacing:0.2;
}


/*-----Подвал------------------------------------------------------------------------------------------------------------------*/
.footer{

}

/*-----Main-----------------------*/



.main-block {
	position: relative;
}
.main-block__container {

	
}

.main-block__body {

	padding:184px 0px 191px 0px;
	position: relative;
	z-index: 2;
	max-width: 400px;
}

@media (max-width: 992px){

	.main-block__body{
		padding:120px 0px 191px 0px;
	}
	

}

@media (max-width: 479px){

.main-block__body{
	padding:120px 0px 160px 0px;
}

}

.main-block__body>*:not(:last-child){
	margin-bottom: 35px;
}
.main-block__title {
	font-size:58px;
	line-height: calc(80/58*100%);
	font-weight: 800;
	letter-spacing: 0.2px;
}

@media (max-width:479px) {

	.main-block__title{

		font-size:42px;
	}
	
	
}




.main-block__text{
	/* margin-top: 35px; */
	font-weight: 500;
	font-size: 20px;
	color:#737373;
	line-height: 1.5;
	/* max-width: 376px; */
}


@media(max-width:479px){
	.main-block__text{

		color:#252424;
	
	}
}
.main-block__buttons {
	display: flex;
	flex-wrap:wrap;
	margin:-10px 0;

}
.main-block__button {
	
	border-radius: 37px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	padding:10px 36px;
	text-align: center;
	line-height: 150%;
	letter-spacing: 0.2px;
	font-weight: 700;
	margin:10px 0;
	transition: all .5s linear;
	
}



@media(max-width:479px){

	.main-block__button{

		flex:1 1 100%;

	}

}
@media(min-width:479px){
	.main-block__button:not(:last-child){
		margin-right: 10px;
	}
}


.main-block__button_orange{
	color:#fff;
	background-color: #FF7B47;
	

}



.main-block__button_orange:hover{
	color:#FF7B47;
	background-color: #fff;
	
}
.main-block__button_border {
	
	border:1px solid #0D5C63;
	color:#0D5C63;
}

.main-block__button_border:hover{
	color:#fff;
	background-color: #0D5C63;
	
	box-shadow: 5px 5px 2px #fff;
}



.main-block__image{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	 
}

@media (max-width: 1300px){
	.main-block__image img{
		object-position: right;
	}
}


@media (max-width: 992px){
	.main-block__image{
		opacity:0.5;
	}
}

/* .main-block__image img{
	object-position: bottom;
} */

/* services */


.services {
}
.services__container {
}
._container {
}
.services__body{
	/* margin: 0 -15px -30px; */
}
	
@media (min-width:670px){
.services__body {
	display:flex;
	flex-wrap: wrap;
	margin: 0 -15px -30px;
	}

	.services__column{
		margin-bottom:30px;
	}
}





.services__column {
	
	/* flex:0 1 33.333%; */
	flex-grow:0;
	flex-shrink: 1;
	flex-basis: 33.333%;
	
	
}



@media (min-width:670px){
	.services__column {
		padding:0px 15px;
		
	}
	
}

@media (max-width:992px){
	.services__column{
		flex:0 1 50%;
	}
	.services__column{
		margin: 0 0 30px 0;
	}
	.services__column:not(:last-child){
		margin: 0 0 30px 0;
	}
	.services__column:last-child{
		/* flex:1 1 100%; */
		flex-grow:1;
		flex-shrink: 1;
		flex-basis: 100%;
	
	}
}
.services__item {

	height: 100%;
	background-color: #fff;
	box-shadow: 0px 13px 19px  #00000012;
	padding: 35px;

}

@media (max-width:479px){
	.services__item{
		padding: 25px;
		
	}
	
}
.item-service {
}
.item-service_green{

	background-color: #0D5C63;
}

.item-service_green .item-service__title{
	color:#fff;
}

.item-service_green .item-service__text{
	color:#fff;
}
.item-service >*:not(:last-child){
	margin-bottom: 10px;
}
.item-service__icon {
}
.item-service__title {
	font-weight: bold;
	font-size: 24px;
	line-height: 133%;
	/* letter-spacing: 0.1; */
	
}
.item-service__text {
	line-height: 142%;
	color:#737373;
	letter-spacing: 0.2;

}
/*   page__advantages*/



/*-------------------------------------------------*/

.page__advantages {
}
.advantages {
	padding: 80px 0;
	/* background-color: #FAFAFA; */
}

@media(max-width:992px){
	.advantages {
		padding: 50px 0;

	}

}

@media(max-width:767px){
	.advantages {
		padding: 30px 0;

	}

}


.advantages__container {
}
._container {
}
.advantages__header {

	margin-bottom: 50px;

}
/*-----HEADER-BLOCK--------------*/


.advantages__body {
		display: flex;
		margin: 0  -15px;
		flex-wrap:wrap;
		margin-bottom:-30px; /*  отступ для */
}
.advantages__column {
	padding:0 15px;
	flex:0 1 25%;
	margin-bottom:30px;
	
}

@media(max-width:1020px){
	.advantages__column{
		flex:0 1 50%;

	}
	
}

@media(max-width:560px){
	.advantages__column{
		flex:0 1 100%;

	}
	
}

.advantages__item{
background-color: #fff;
padding:30px;
text-align: center;
font-weight: 700;

}
.advantages__item> *:not(:last-child){
	margin-bottom: 10px;
}
.advantages__icon {
}
.advantages__value {
	font-size: 40px;
	
	line-height: 142%;
}
.advantages__text {
	letter-spacing: 0.1;
	font-size: 16px;
	line-height: 142%;
	color:#737373; 
}


/* Practice*/


.page__practice {
}
.practice {
	padding:125px 0 80px 0;
}

@media(max-width:993px){
	.practice {
		padding:40px 0 80px 0;
	}
}

@media(max-width:767px){
	.practice {
		padding:0px 0 40px 0;
	}
}
.practice__container {
}
._container {
}
.practice__header {
	margin-bottom: 45px;
}

@media(max-width:767px){
	.practice__header {
		margin:0px 0 25px 0;
	}
}


.practice__body {
	margin: 0 -20px -30px;
	display:flex;
	flex-wrap: wrap;

}
.practice__column {
	padding:0 20px;
	margin-bottom: 30px;
	flex:0 1 25%;
}

@media (max-width:1040px){
	.practice__column{
	
		flex:0 1 50%;

}
}
@media (max-width:630px){
	.practice__column{
		
		flex:0 1 100%;

}
}






.practice__item {
	
}
.item-practice {
	background-color: #fff;
	display: flex;
	height: 100%;
	flex-direction: column;
}

.item-practice__content{
	padding:30px;
	flex:1 1 auto;
	
}
.item-practice__link {
	display:inline-block;
	color:inherit;
}

.item-practice__link:hover{
	text-decoration: underline;
}


.item-practice__title {
	font-weight: 700;
	letter-spacing: 0.1px;
	font-weight: 16px;
	line-height: 150%;
}

.item-practice__title:not(:last-child){
	margin-bottom:15px;
	/* display: block; */
}
.item-practice__text {
	color:#737373;
	line-height: 142%;
}
.item-practice__image {
	padding:0 0 60% 0;
	display: block;
	position: relative;
}












/* its mine*/


.page__practice-advice {

padding-bottom: 81px;
	
}

@media (max-width:568px){
	.practice-advice {

	padding-top:30px;

	
}
}

.practice-advice__container {
}
._container {
}
.practice-advice__header {

	margin-bottom: 45px;

}

.practice-advice__body {
	display:flex;
	margin:0 -15px;
	flex-wrap:wrap;
	justify-content: center;
	margin-bottom: -30px;
	/* flex-wrap:wrap; */

}










.practice-advice__column {
	flex:1 1 25%;
	padding:0 15px;
	margin-bottom:30px;
	
	
}


@media (max-width:1021px){
		.practice-advice__column{
			flex:1 1 50%;
		}	
		}

@media (max-width:550px){
	.practice-advice__column{
	flex:1 1 100%;
			}	
			}		
	

.practice-advice__item {
	background-color: #fff;
	height: 100%;
	display: flex;
	flex-direction: column;
	
	
}




	.practice-advice__item{
		display: flex;
		/* flex-direction: row-reverse
		; */
	}

	@media (max-width:550px){
		.practice-advice__item{
			display: flex;
		flex-direction: row-reverse
		;	
		}
	
	}


	@media (max-width:510px){
		.practice-advice__item{
			display: flex;
		flex-direction: column-reverse;
		;	
		}
	
	}


.practice-advice-header__sub-title{
	/* max-width: 470px;
	width: 100%; */
	margin: 0 auto;
}

.practice-advice__description{
	/* padding: 30px auto 30px 30px;
	 */
	padding-top:30px;
	padding-left:30px;
	padding-bottom:30px;
	flex-grow: 1;
	

	
}
@media (max-width:550px){
.practice-advice__description{
	/* display: flex;
	flex-direction: column;
	justify-content: center; */
}


}

.practice-advice__article {
	
	max-width: 145px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.1;
	margin-bottom: 15px;
	/* padding-right: 25px; */
}


@media (max-width:550px){
	.practice-advice__article{
		max-width: 200px;
		margin-left:auto;
		margin-right:auto;
	}
}




.practice-advice__text {
	max-width: 170px;
	font-weight: 500;
	color:#737373;
	font-size: 14px;
	line-height: 1.4;
}


@media (max-width:550px){

	.practice-advice__text{
		max-width: 500px;
	}


}
.practice-advice__image {
	position: relative;
	
	/* max-width: 230px; */
}

.practice-advice__image img{
	width:100%;
	/* align-items: flex-end; */
	/* align-self: flex-end; */
}
@media (max-width:550px){
	.practice-advice__image img{
		/* width:50%; */
		height: 100%;
		width: 220px;
		
	}	
}


@media (max-width:510px){
	.practice-advice__image img{
		/* width:50%; */
		
		width: 100%;
		
	}	
}


/* who-we-are  -------------------------------------------------------- */ 


.whoweare {
	padding: 80px 0 130px 0;
	background-color:#fff;
}





.who-we-are__container {
}
 
.who-we-are__header {
	margin-bottom: 100px;
}
@media (max-width:950px){
	
}

.whoweare__body {
	display:flex;
	align-items:flex-start;
}






.whoweare__video {
	flex:0 0 57%;
	position: relative;
	padding:0px 0px 42.25% 0px;
}

.whoweare__video iframe{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	
}

.whoweare__content {
	flex:1 1 auto;
	padding: 20px 0 0 121px;
}




/* @media (max-width:992px){
	.whoweare__content{
		font-size: 24px;
		font-size: 40px;
	}
} */

	
	





.whoweare__top:not(:last-child){

	margin-bottom: 50px;

}
.whoweare__title {
	color:#252B42;
	font-weight: 700;
	font-size: 40px;
	line-height: 142%;
	letter-spacing:0.2;
	
}







.whoweare__title:not(:last-child){

	margin-bottom: 10px;


}
.whoweare__text {
	color:#737373;
	font-size: 14px;
	line-height: 142%;
	letter-spacing: 0.2px;
}

/* .whoweare__text:not(:last-child){
	margin-bottom: 50px;
} */

.whoweare__items {
	/* margin-top: 50px; */
}
.whoweare__item {
}
.item__whoweare {
	display: flex;
}

.item__whoweare:not(:last-child){
	margin-bottom:30px
}
.item-whoweare__icon {

	flex:0 0 32px;
}
.item-whoweare__body {
}

.item-whoweare__body:not(:first-child){
	flex:1 1 auto;
	padding-left:20px;

}
.item-whoweare__title {
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	letter-spacing: 0.1;
}

.whoweare__title:not(:last-child){
			margin-bottom:5px;
}



.item-whoweare__text {
	font-weight: 600;
	align-items:flex-start;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.2px;
	color:#737373;
	line-height: 142%;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width:225px;
}



@media (max-width:1080px){
	.whoweare__content {
		padding:0 0 0 50px;	
	}
}

@media (max-width:950px){

	.whoweare{
		padding: 50px 0 50px 0;
	}
	.whoweare__body{

		flex-direction: column-reverse;
		align-items: stretch;
		

	}
	.whoweare__title{
		font-size: 24px;
	}

	.whoweare__content{
		padding:0 0 0 0;	
	}

	.whoweare__video:not(:last-child){
		padding-bottom:56.25%;
	}

	.who-we-are__header{
		margin-bottom: 30px;
	}
}


@media (max-width:767px){
	
	.whoweare{
		padding: 30px 0 50px 0;
	}
	.whoweare__top:not(:last-child){

		margin-top:30px;
		
	}

	.whoweare__video:not(:last-child){
		margin-top:30px;
	}

}

/*clients--------------------------------------------------------------------------------*/

.clients {
	padding:50px 0;
}

@media (max-width:767px){

	.clients {
		padding:30px 0;
	}
}
.clients__container {
}

.clients__items {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	
}
.clients__item {
	padding:8px 15px; 
	flex:0 1 16.6667%;
	text-align: center;
	min-width: 140px;
}


.clients__item img{
	max-width: 100%;
}

/* its mine*/

.page-subscribe {
	position: relative;
}
.subscribe {
}
.page-subscribe__container {
	transform: translateY(62px);
}
._container {
}

.subscribe__wrapper{
	margin:0 30px;
}
.subscribe__form {
	position: relative;
	z-index: 100;
	margin:0 auto;
	border-radius: 2px;

}
.form {
}
.form-subscribe {
	/* display:flex; */
	padding:30px 50px;
	background-color: #17213C;
	max-width: 986px;
	border-radius: 2px;
	
	/* justify-content: space-between; */
}

.form-subscribe__inner{
	
	display:flex; 
	justify-content: space-between;
}

@media (max-width:740px){
	.form-subscribe{
		padding:15px 25px;
	}
	.form-subscribe__inner{
		width: 100%;
		flex-direction: column;
		margin: 0 auto;
		justify-content: center;
	}
	
}
/* .form-subscribe__text:not(:last-child) {

	display:block;
	margin-bottom:20px;
} */

.form-subscribe__title{
	display: block;
	max-width: 266px;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	line-height: 133%;
	letter-spacing: 0.1px;
}

.form-subscribe__inputs{
	display:flex;
	width:50%;
	/* max-width: 450px; */

}


@media (max-width:740px){
	.form-subscribe__inputs{
		flex-direction: column;
	}
}

@media (max-width:740px){
	.form-subscribe__text{
		text-align: center;
	}
	.form-subscribe__inputs{
		width:100%;	
	}

	.form-subscribe__title{
		max-width: 100%;
		margin-bottom:20px;
	}
	
}






.input__email{

	width: 100%;
	box-sizing: border-box;
	border-bottom-left-radius:5px;
	border-top-left-radius:5px;
	padding:15px 20px;
	color:#737373;
	letter-spacing: 0.2px;
	line-height: 200%;
	/* padding-right: 235px; */
	

}





@media (max-width:890px){
	.input__email{
		padding:7px 20px;
	}

	/* .form-subscribe__text{

		margin-bottom: 20px;

	} */

}

.input__email[placeholder]{

}



.input__submit{
	border:1px solid #fff;
	background-color: #FF7B47;
	color:#fff;
	padding:15px 22.5px;
	font-weight: 400;
	font-size: 14px;
	line-height: 200%;
	text-align: center;
	letter-spacing: 0.2px;
	cursor:pointer;
	border-bottom-right-radius:5px;
	border-top-right-radius:5px;
}


.input__submit:hover{
	opacity:0.9;
	transition: opacity .2s linear;
	text-decoration: underline;
}


@media (max-width:890px){

	.input__submit{

		padding:7px 22.5px;
	}


}

@media (max-width:740px){
	.input__email{
		border-bottom-left-radius:0px;
		border-top-right-radius:5px;
		/* border-top-left-radius:0px; */
	}


	.input__submit{
		/* border-bottom-right-radius:0px; */
		border-top-right-radius:0px;
			border-bottom-left-radius:5px;
	}
}



.subscribe__bg{
	width: 100%;
	background-color: #252B42;
	/* position: absolute; */
	z-index: 5;
	height:auto;
	padding: 38.5px;
	font-size: 0;
	color:transparent;
	bottom:-25.97%;
	
	

}

/* section Subscribe  */

.page-subscribes {
}
.subscribes {
	position: relative;
	padding-bottom: 20px;
}

.subscribes::before{
	content:"";
	position: absolute;
	/* display: block; */
	left:0;
	bottom:0;
	background-color: #252B42;
	width: 100%;
	height: 77px;
	/* z-index: 10; */
	/* color:#252B42; */

}
.subscribes__container {
}
._container {
}
.subscribes__body {
	position: relative;
	
	/* display: flex;
	justify-content: space-between; */
	padding: 30px 50px;
	align-items: center;
	border-radius: 2px;
	background-color: #17213C;
	z-index:2;
}


@media (min-width:1070px){

	.subscribes__body {
		margin:0 30px;
	}

}

/*  Mobile first*/




.subscribes__title{	
	color:#fff;
	
	font-size: 24px;
	line-height: 133%;
	font-weight: 700;
}


@media (max-width:810px){
	.subscribes__title{
		margin-bottom:20px;
		
	}

	.subscribes__body{
		padding:20px 25px;
		margin:0 -15px;
	}
}


@media (min-width:810px){

	.subscribes__title{

		max-width: 266px;
	}
	.subscribes__body{
		display: flex;
	justify-content: space-between;
	}
	

}


.subscribes__form {
	display:flex;
	flex:0 1 50%;
	align-items: center;

}
.subscribes__input {
	width:100%;
	min-height: 58px;
	flex:1 1 auto;
	padding:0 20px;
	background: #F9F9F9;
	border: 1px solid #E6E6E6;
	border-radius: 5px 0 0px 5px;
	color:#737373;
	border-right:0;

}

.subscribes__input:focus{
	color:#000;
}

.subscribes__button {
	background: #FF7B47;
	border: 1px solid #E6E6E6;
	border-radius: 0px 5px 5px 0px;
	display: flex;
	min-height: 58px;
	justify-content: center;
	align-items: center;
	text-align: center;
	color:#fff;
	padding:0 22.5px;
	transition: all .2s linear;
	cursor:pointer;

}

.subscribes__button:hover{
	background: #974d2f;
	
}


@media (max-width:810px){
	.subscribes__button{
		padding:0px 15px;
	}

	.subscribes__input {
		padding:0 15px;
	}
}



/* getintouch  */


.getintouch {
	padding:80px 0 135px 0;
}
.getintouch__container {
	
}

.getintouch__header {

	margin-bottom: 80px;
}

.getintouch__items {

	margin:0 -15px;
	
}

@media(min-width:992px){
	.getintouch__items{
		margin:0;
		display:flex;
		align-items: center;
		
	}
}

@media(max-width:992px){
	.getintouch{
		padding:50px 0;
	}
	.getintouch__header{
		margin-bottom:50px;
	}
}

@media(max-width:992px){
	.getintouch__header{
		margin-bottom:30px;
	}
}






.getintouch__item {
	flex: 0 1 33.333%;
}
.item__getintouch {

	background-color: #fff;
	
	padding:50px  15px; /* Отступ безопасности*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}








/* .item__getintouch .item__getintouch_active>*{
	color:#fff;
	border-color: #fff;
} */

.item__getintouch>:not(:last-child){
	margin-bottom:15px;
}
.item-getintouch__icon {
	margin-bottom: 15px;
}
.item-getintouch__emails {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.item-getintouch__email {
	color:inherit;
	font-weight: 600;
	line-height: 150%;
	font-size: 14px;
}

.item-getintouch__email:hover {
	
	text-decoration: underline;
}
.item-getintouch__label {

	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.1;
	text-align: center;
}
.item-getintouch__button {
	border: 1px solid #FF7B47;
	border-radius: 5px;
	color:#FF7B47;
	/* padding:10px 20px; */
	min-height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 600;
	line-height: 142%;
	padding:5px 20px;
	transition: all .3s ease 0s;
}


.item-getintouch__button:hover{
	color:#fff;
	border: 1px solid #fff;
	background-color: #FF7B47;
	/* transition: all .3s linear; */
}



.item__getintouch_active{
	background-color: #252B42;
	color:#fff;
	padding:80px  15px;
}


@media(max-width:992px){
	.item__getintouch_active{
		padding:50px  15px;
	}
}


.item__getintouch_active .item-getintouch__button{
	border: 1px solid #fff;
	color:#fff;
}

.item__getintouch_active .item-getintouch__button:hover{
	color:#fff;
	border: 1px solid #fff;
	
}




/* mine contact-us */



.contact-us {
	padding:40px 0;
	background-color: #fff;
}
.contact-us__container {

}


@media(min-width:720px){
	.contact-us__container{
		display: flex;
		justify-content: space-between;
	}
}

.contact-us__description {
	
}

@media(max-width:720px){

	.contact-us__description{
		text-align: center;
	}
	

}
.contact-us__description>:not(:last-child) {

	margin-bottom: 10px;
}
.consalt-us__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 133%;
	letter-spacing: 0.1px;
	color:#252B42;
	
}
.consalt-us__text {
	
font-size: 14px;
font-weight: 500;
line-height: 142%;
letter-spacing: 0.2px;
color: #737373;



}
.consalt-us__button-wrapper {
	/* padding:0 36.5px; */
}
.consalt-us__button {
	display:flex;
	background-color: #FF7B47;
	border-radius: 5px;
	min-height: 58px;
	padding:5px 40px;
	transition: all .35s ease 0s;
	justify-content: center;
	align-items: center;
	text-align: center;
	color:#fff;
	 font-weight: 700;
	
	
	
	
	
	
	
	font-size: 14px;
	/* line-height: 200%; */
	letter-spacing: 0.2px; */
	
	
	

}





@media(max-width:800px){
	.consalt-us__button{
		padding:5px 20px;
	}
}

@media(max-width:720px){
	.consalt-us__button{
		padding:5px 40px;
		margin:0 auto;
		margin-top:20px;
	}
}

.consalt-us__button:hover{
	background-color: #fff;
	color:#FF7B47;
	border:1px solid #FF7B47;
}



/* <!--  contact--> */




.contact {
	background-color: #fff;
	padding:42px 0;
}
.contact__container {
}

.contact__body {
	
}

@media (min-width:767px){
	.contact__body {
		display: flex;
		justify-content:space-between;
		align-items: center;
	}
}



.contact__content {
	padding-right: 20px;
	padding-bottom: 20px;
}
.contact__title {
	font-weight: 700;
	letter-spacing: 0.1px;
	line-height: 133%;
	font-size: 24px;
}

.contact__title:not(last-child){
	margin-bottom: 10px;
}
.contact__text {
color: #737373;
font-weight: 500;

line-height: 142%;
}
.contact__button {
	display: flex;
	min-height: 58px;
	border-radius: 5px;
	padding:5px 40px;
	transition: background-color .3s ease 0s;
	justify-content: center;
	align-items: center;
	text-align: center;
	color:#fff;
	background-color: #FF7B47;
}

.contact__button:hover{
	background-color: #c9582c;


}



/* my footer */

.footer__myWork {
	background-color: #252B42;

}
.footer__container {

}
._container {
}
.footer__body {
	padding:0 10px;
	margin: 0 auto;
	
	
	
}

@media (max-width:1040px){
	.footer__body {
		max-width: 700px;
	}

}
.footer__nav {
	
	/* display: flex; */
	padding:50px 0;

}
.nav-footer {
	
}
.nav-footer__menu {
	

}
.menu-list {
	display:flex;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap:nowrap;
	
}

@media (max-width:1040px){
	.menu-list{
		flex-wrap:wrap;
	}
}



.menu-list__suptitle {
	flex: 0 1 20%;
	
	
}


@media(max-width:1040px){
	
	.menu-list__suptitle{
		flex:0 2 50%;
		
		/* align-self: center; */
	}
	.menu-list__suptitle:not(:last-child){
		margin-bottom: 20px;
	}
}

@media(max-width:370px){
	.get-in-touch .item-list__link{
		margin:0;
		flex-wrap: nowrap;
	}

	.get-in-touch .item-list_icon{
		margin:0;
	}
}


@media(max-width:650px){
	.menu-list__suptitle{
		flex:1 1 100%;
		
		/* align-self: center; */
	}
}
.suptitle {
}
.suptitle__link {
	display:inline-block;
	margin-bottom: 20px;
	color:#fff;
	font-weight: 700;
}

@media(max-width:1040px){
	.suptitle__link{
		width: 80%;
		margin:0 auto;
		margin-bottom: 20px;

	}

}

@media(max-width:550px){
	.suptitle__link{
		width: 100%;
		margin:0 auto;
		margin-bottom: 20px;

	}

}



.suptitle__link:hover{
	text-decoration: underline;
}
.menu-list__item {
}
.item-list {
	display: flex;
	

}


.item-list:not(:last-child) {
	margin-bottom: 10px;
	
}
.item-list__link{
	color:#fff;
	display:inline-block;
	line-height: 1.71;
	letter-spacing: 0,2;
	font-weight: 600;
}

@media(max-width:1040px){
	.item-list__link{
		width: 80%;
		margin:0 auto;

	}

}

.item-list__link._link-adress{
	font-weight: normal;
	font-style: normal;
	
}

.link-item{
	display:flex;
}

.item-list_icon{
	margin-right:10px ;
	width: 24px;
	/* height: 24px; */

}

@media(max-width:1040px){
	.item-list_icon{
		
	}
}

.item-list__link:hover{
	text-decoration: underline;
}
._item-phone {
}
._link-phone {
}
._item-adress {
}
._link-adress {
}
._item-email {
}

@media (max-width:330px){
	._link-email {
	width:100%;

}
}

.footer__contacts {
	background-color: #fff;
}

.contacts-footer__body{

	display: flex;
	justify-content: space-between;
	padding:25px 0;


}

@media(max-width:600px){
	.contacts-footer__body{
		flex-direction: column;
	}
}
.contacts-footer {
}
.contacts-footer__rights {
	color:#737373;
	font-weight: 600;
	line-height: 1.71;
}

@media(max-width:600px){
	.contacts-footer__social-media{
		margin-top:20px;
	}
}

.contacts-footer__social-media {
}
.social-media {
}
.social-media__link {

}

.social-media__link:not(:last-child){
	margin-right:20px;
}
._facebook {
}
.fa-brands {
	display: block;
	font-size: 24px;

}


.fa-facebook-square {
	color: #335BF5;

}


.fa-twitter{

	
}
._instagram {
	color: #E51F5A;
}
.fa-instagram {
	
}
._twitter {
	color:#21A6DF;
}
.fa-twitter {
	
}
._youtube {
	color:#E42F08;
}
.fa-youtube {
}



/*---------------------------------------------------------------------------------*/





.footer {
}
.footer__top {
	background:  #17213C;
	padding:40px 0;
}
.footer__main{

}

.footer__row{
	display: flex;
	margin:0 -15px;
	flex-wrap:wrap;
}

.footer__column {
	padding:10px 15px;
	flex:0 1 16.6667%;
	min-width: 170px;
}

.footer__column:last-child{
	flex:0 1 33.334%;
}
@media(max-width:992px){
	.footer__column{
	flex:0 1 25%;
}

.footer__column:last-child{
	flex:1 1 100%;
}

}

@media(max-width:700px){
	.footer__column{
		flex:0 1 50%;
	}
}


.footer__label {
	color:#fff;
	font-weight: 700;
	font-size: 16;
	line-height: 150%;
	margin-bottom: 20px;
}
.footer__menu {
}
.menu-footer {
}
.menu-footer__list {
}
.menu-footer__item:not(last-child) {
	margin-bottom:10px;
}
.menu-footer__link {
	color:#fff;
	letter-spacing: 0.2px;
	line-height: 171%;
	display:inline-block;
}

.menu-footer__link:hover,.contacts-footer__item:hover{
	text-decoration: underline;
}
.footer__contacts-s {
	
}
.contacts-s-footer{
	display: flex;
	flex-direction: column;
}
.contacts-footer__item:not(:last-child) {
	margin-bottom:12px;
	/* display: block; */
}
.contacts-footer__item{
	padding:0 0 0 34px;
	display: flex;
	align-items: center;
	min-height: 30px;
	color:#fff;
	line-height: 142%;
}


.contacts-footer__item_phone {

	background: url("/img/footer/phone.svg") 0 0  no-repeat;
	

}
.contacts-footer__item_map {
	background: url("/img/footer/map.svg") 0 0 no-repeat;
	
}
.contacts-footer__email {
	background: url("/img/footer/send.svg") 0 0 no-repeat;
}
.footer__bottom {
	padding:25px 0;
}

.footer__container{
	display:flex;
	justify-content: space-between;
	align-items: center;
}


.footer__social {
	display: flex;
	align-items: center;

}

.footer__copy{
	color:#737373;
	line-height: 171%;
	
}
._social {
	display: flex;
	align-items: center;
}

.social__item:not(:last-child) {

	margin-right: 20px;

}
.social__item img{
	vertical-align: top;
	width:24px;
}


@media(max-width:767px){
	.footer__container{
		flex-direction: column;
	}

	.footer__copy{
		margin-bottom: 15px;
		padding-bottom: 5px;
	}
}

